*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #CDEBE6;
}

.container {
	margin-top: 40px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}

p {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Arimo', sans-serif;
}

.newQuote {
  width: auto;
}

.quotes {
  border-radius: 25%;
  background-color: white;
  height: auto;
  padding: 20px;
  color: black;
}

.quote {
  font-size: 2em;
}

.author {
  font-size: 1.5em;
  font-style: italic;
}

.row {
  margin: 20px;
}
